<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><strong>PM Tool</strong></a>
        </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{% if app.request.attributes.get('_route') == 'dashboard' %} class="active"{% endif %}><a href="{{ path('dashboard') }}"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
                    <li{% if app.request.attributes.get('_route') == 'projects' %} class="active"{% endif %}><a href="{{ path('projects') }}">Projects<span class="sr-only">(current)</span></a></li>
                    <li{% if app.request.attributes.get('_route') == 'people' %} class="active"{% endif %}><a href="{{ path('people') }}">People</a></li>
                    <li{% if app.request.attributes.get('_route') == 'files' %} class="active"{% endif %}><a href="{{ path('files') }}">Files</a></li>
                    <li{% if app.request.attributes.get('_route') == 'administration' %} class="active"{% endif %}><a href="#">Administration</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text">Hello, <strong>{{ app.user.username }}</strong></p>
                    <li><a href="#">My Account</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        {% else %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        {% endif %}
    </div><!-- /.container-fluid -->
</nav>